/*
Etsy Open API v3

<div class=\"wt-text-body-01\"><p class=\"wt-pt-xs-2 wt-pb-xs-2\">Etsy's Open API provides a simple RESTful interface for various Etsy.com features. The API endpoints are meant to replace Etsy's Open API v2, which is scheduled to end service in 2022.</p><p class=\"wt-pb-xs-2\">All of the endpoints are callable and the majority of the API endpoints are now in a beta phase. This means we do not expect to make any breaking changes before our general release. A handful of endpoints are currently interface stubs (labeled “Feedback Only”) and returns a \"501 Not Implemented\" response code when called.</p><p class=\"wt-pb-xs-2\">If you'd like to report an issue or provide feedback on the API design, <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://github.com/etsy/open-api/discussions\">please add an issue in Github</a>.</p></div>&copy; 2021-2024 Etsy, Inc. All Rights Reserved. Use of this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank' href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.

API version: 3.0.0
Contact: developers@etsy.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package goEtsy

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type LedgerEntryAPI interface {

	/*
			GetShopPaymentAccountLedgerEntries Method for GetShopPaymentAccountLedgerEntries

			<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

		Get a Shop Payment Account Ledger's Entries

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param shopId The unique positive non-zero numeric ID for an Etsy Shop.
			@return LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest
	*/
	GetShopPaymentAccountLedgerEntries(ctx context.Context, shopId int64) LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest

	// GetShopPaymentAccountLedgerEntriesExecute executes the request
	//  @return PaymentAccountLedgerEntries
	GetShopPaymentAccountLedgerEntriesExecute(r LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest) (*PaymentAccountLedgerEntries, *http.Response, error)

	/*
			GetShopPaymentAccountLedgerEntry Method for GetShopPaymentAccountLedgerEntry

			<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

		Get a single Shop Payment Account Ledger's Entry

			@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
			@param shopId The unique positive non-zero numeric ID for an Etsy Shop.
			@param ledgerEntryId The unique ID of the shop owner ledger entry.
			@return LedgerEntryAPIGetShopPaymentAccountLedgerEntryRequest
	*/
	GetShopPaymentAccountLedgerEntry(ctx context.Context, shopId int64, ledgerEntryId int64) LedgerEntryAPIGetShopPaymentAccountLedgerEntryRequest

	// GetShopPaymentAccountLedgerEntryExecute executes the request
	//  @return PaymentAccountLedgerEntry
	GetShopPaymentAccountLedgerEntryExecute(r LedgerEntryAPIGetShopPaymentAccountLedgerEntryRequest) (*PaymentAccountLedgerEntry, *http.Response, error)
}

// LedgerEntryAPIService LedgerEntryAPI service
type LedgerEntryAPIService service

type LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest struct {
	ctx        context.Context
	ApiService LedgerEntryAPI
	shopId     int64
	minCreated *int64
	maxCreated *int64
	limit      *int64
	offset     *int64
}

// The earliest unix timestamp for when a record was created.
func (r LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest) MinCreated(minCreated int64) LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest {
	r.minCreated = &minCreated
	return r
}

// The latest unix timestamp for when a record was created.
func (r LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest) MaxCreated(maxCreated int64) LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest {
	r.maxCreated = &maxCreated
	return r
}

// The maximum number of results to return.
func (r LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest) Limit(limit int64) LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest {
	r.limit = &limit
	return r
}

// The number of records to skip before selecting the first result.
func (r LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest) Offset(offset int64) LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest {
	r.offset = &offset
	return r
}

func (r LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest) Execute() (*PaymentAccountLedgerEntries, *http.Response, error) {
	return r.ApiService.GetShopPaymentAccountLedgerEntriesExecute(r)
}

/*
GetShopPaymentAccountLedgerEntries Method for GetShopPaymentAccountLedgerEntries

<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

Get a Shop Payment Account Ledger's Entries

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param shopId The unique positive non-zero numeric ID for an Etsy Shop.
	@return LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest
*/
func (a *LedgerEntryAPIService) GetShopPaymentAccountLedgerEntries(ctx context.Context, shopId int64) LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest {
	return LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest{
		ApiService: a,
		ctx:        ctx,
		shopId:     shopId,
	}
}

// Execute executes the request
//
//	@return PaymentAccountLedgerEntries
func (a *LedgerEntryAPIService) GetShopPaymentAccountLedgerEntriesExecute(r LedgerEntryAPIGetShopPaymentAccountLedgerEntriesRequest) (*PaymentAccountLedgerEntries, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaymentAccountLedgerEntries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LedgerEntryAPIService.GetShopPaymentAccountLedgerEntries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/application/shops/{shop_id}/payment-account/ledger-entries"
	localVarPath = strings.Replace(localVarPath, "{"+"shop_id"+"}", url.PathEscape(parameterValueToString(r.shopId, "shopId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.shopId < 1 {
		return localVarReturnValue, nil, reportError("shopId must be greater than 1")
	}
	if r.minCreated == nil {
		return localVarReturnValue, nil, reportError("minCreated is required and must be specified")
	}
	if *r.minCreated < 946684800 {
		return localVarReturnValue, nil, reportError("minCreated must be greater than 946684800")
	}
	if r.maxCreated == nil {
		return localVarReturnValue, nil, reportError("maxCreated is required and must be specified")
	}
	if *r.maxCreated < 946684800 {
		return localVarReturnValue, nil, reportError("maxCreated must be greater than 946684800")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "min_created", r.minCreated, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "max_created", r.maxCreated, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int64 = 25
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LedgerEntryAPIGetShopPaymentAccountLedgerEntryRequest struct {
	ctx           context.Context
	ApiService    LedgerEntryAPI
	shopId        int64
	ledgerEntryId int64
}

func (r LedgerEntryAPIGetShopPaymentAccountLedgerEntryRequest) Execute() (*PaymentAccountLedgerEntry, *http.Response, error) {
	return r.ApiService.GetShopPaymentAccountLedgerEntryExecute(r)
}

/*
GetShopPaymentAccountLedgerEntry Method for GetShopPaymentAccountLedgerEntry

<div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

Get a single Shop Payment Account Ledger's Entry

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param shopId The unique positive non-zero numeric ID for an Etsy Shop.
	@param ledgerEntryId The unique ID of the shop owner ledger entry.
	@return LedgerEntryAPIGetShopPaymentAccountLedgerEntryRequest
*/
func (a *LedgerEntryAPIService) GetShopPaymentAccountLedgerEntry(ctx context.Context, shopId int64, ledgerEntryId int64) LedgerEntryAPIGetShopPaymentAccountLedgerEntryRequest {
	return LedgerEntryAPIGetShopPaymentAccountLedgerEntryRequest{
		ApiService:    a,
		ctx:           ctx,
		shopId:        shopId,
		ledgerEntryId: ledgerEntryId,
	}
}

// Execute executes the request
//
//	@return PaymentAccountLedgerEntry
func (a *LedgerEntryAPIService) GetShopPaymentAccountLedgerEntryExecute(r LedgerEntryAPIGetShopPaymentAccountLedgerEntryRequest) (*PaymentAccountLedgerEntry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaymentAccountLedgerEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LedgerEntryAPIService.GetShopPaymentAccountLedgerEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/application/shops/{shop_id}/payment-account/ledger-entries/{ledger_entry_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"shop_id"+"}", url.PathEscape(parameterValueToString(r.shopId, "shopId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"ledger_entry_id"+"}", url.PathEscape(parameterValueToString(r.ledgerEntryId, "ledgerEntryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.shopId < 1 {
		return localVarReturnValue, nil, reportError("shopId must be greater than 1")
	}
	if r.ledgerEntryId < 1 {
		return localVarReturnValue, nil, reportError("ledgerEntryId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
