openapi: 3.0.2
info:
  contact:
    email: developers@etsy.com
  description: "<div class=\"wt-text-body-01\"><p class=\"wt-pt-xs-2 wt-pb-xs-2\"\
    >Etsy's Open API provides a simple RESTful interface for various Etsy.com features.</p><p\
    \ class=\"wt-pb-xs-2\">If you'd like to report an issue or provide feedback on\
    \ the API design, <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"\
    https://github.com/etsy/open-api/discussions\">please add an issue in Github</a>.</p></div>&copy;\
    \ 2021-2026 Etsy, Inc. All Rights Reserved. Use of this code is subject to Etsy's\
    \ <a class='wt-text-link wt-p-xs-0' target='_blank' href='https://www.etsy.com/legal/api'>API\
    \ Developer Terms of Use</a>."
  termsOfService: https://www.etsy.com/legal/api
  title: Etsy Open API v3
  version: 3.0.0
servers:
- description: Base URL for all Open API endpoints.
  url: https://openapi.etsy.com
security:
- api_key: []
tags:
- name: User
- name: UserAddress
- name: Shop Receipt Transactions
- name: Other
- name: Shop
- name: Shop ShippingProfile
- name: Shop Section
- name: ShopListing
- name: Shop ProcessingProfiles
- name: Shop ProductionPartner
- name: Shop Return Policy
- name: Shop HolidayPreferences
- name: SellerTaxonomy
- name: Review
- name: Shop Receipt
- name: Payment
- name: Ledger Entry
- name: ShopListing Video
- name: ShopListing VariationImage
- name: ShopListing Translation
- name: ShopListing Personalization
- name: ShopListing Inventory
- name: ShopListing Offering
- name: ShopListing Product
- name: ShopListing Image
- name: ShopListing File
- name: BuyerTaxonomy
paths:
  /v3/application/buyer-taxonomy/nodes:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves the full hierarchy tree of buyer taxonomy nodes.
      operationId: getBuyerTaxonomyNodes
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuyerTaxonomyNodes"
          description: List the full hierarchy tree of buyer taxonomy nodes.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - BuyerTaxonomy
  /v3/application/buyer-taxonomy/nodes/{taxonomy_id}/properties:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a list of product properties, with applicable scales and values, supported for a specific buyer taxonomy ID.
      operationId: getPropertiesByBuyerTaxonomyId
      parameters:
      - description: "The unique numeric ID of an Etsy taxonomy node, which is a metadata\
          \ category for listings organized into the seller taxonomy hierarchy tree.\
          \ For example, the \"shoes\" taxonomy node (ID: 1429, level: 1) is higher\
          \ in the hierarchy than \"girls' shoes\" (ID: 1440, level: 2). The taxonomy\
          \ nodes assigned to a listing support access to specific standardized product\
          \ scales and properties. For example, listings assigned the taxonomy nodes\
          \ \"shoes\" or \"girls' shoes\" support access to the \"EU\" shoe size scale\
          \ with its associated property names and IDs for EU shoe sizes, such as\
          \ property `value_id`:\"1394\", and `name`:\"38\"."
        explode: false
        in: path
        name: taxonomy_id
        required: true
        schema:
          description: "The unique numeric ID of an Etsy taxonomy node, which is a\
            \ metadata category for listings organized into the seller taxonomy hierarchy\
            \ tree. For example, the \"shoes\" taxonomy node (ID: 1429, level: 1)\
            \ is higher in the hierarchy than \"girls' shoes\" (ID: 1440, level: 2).\
            \ The taxonomy nodes assigned to a listing support access to specific\
            \ standardized product scales and properties. For example, listings assigned\
            \ the taxonomy nodes \"shoes\" or \"girls' shoes\" support access to the\
            \ \"EU\" shoe size scale with its associated property names and IDs for\
            \ EU shoe sizes, such as property `value_id`:\"1394\", and `name`:\"38\"\
            ."
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuyerTaxonomyNodeProperties"
          description: "A list of product properties, with applicable scales and values."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - BuyerTaxonomy
  /v3/application/shops/{shop_id}/listings:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Endpoint to list Listings that belong to a Shop. Listings can be filtered using the 'state' param.
      operationId: getListingsByShop
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "When _updating_ a listing, this value can be either `active`\
          \ or `inactive`. Note: Setting a `draft` listing to `active` will also publish\
          \ the listing on etsy.com and requires that the listing have an image set.\
          \ Setting a `sold_out` listing to active will update the quantity to 1 and\
          \ renew the listing on etsy.com."
        explode: true
        in: query
        name: state
        required: false
        schema:
          $ref: "#/components/schemas/getListingsByShop_state_parameter"
        style: form
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          description: The maximum number of results to return.
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of records to skip before selecting the first result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: The number of records to skip before selecting the first result.
          minimum: 0
          type: integer
        style: form
      - description: "The value to sort a search result of listings on. NOTES: a)\
          \ `sort_on` only works when combined with one of the search options (keywords,\
          \ region, etc.). b) when using `score` the returned results will always\
          \ be in _descending_ order, regardless of the `sort_order` parameter."
        explode: true
        in: query
        name: sort_on
        required: false
        schema:
          $ref: "#/components/schemas/getListingsByShop_sort_on_parameter"
        style: form
      - description: "The ascending(up) or descending(down) order to sort listings\
          \ by. NOTE: sort_order only works when combined with one of the search options\
          \ (keywords, region, etc.)."
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          $ref: "#/components/schemas/getListingsByShop_sort_order_parameter"
        style: form
      - description: "An enumerated string that attaches a valid association. Acceptable\
          \ inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations', 'Videos',\
          \ 'Inventory' and 'Personalization'."
        explode: true
        in: query
        name: includes
        required: false
        schema:
          description: "An enumerated string that attaches a valid association. Acceptable\
            \ inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations', 'Videos',\
            \ 'Inventory' and 'Personalization'."
          items:
            $ref: "#/components/schemas/getListingsByShop_includes_parameter_inner"
          type: array
        style: form
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopListingsWithAssociations"
          description: A list of Listings
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_r
      tags:
      - ShopListing
    post:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Creates a physical draft [listing](/documentation/reference#tag/ShopListing) product in a shop on the Etsy channel.
      operationId: createDraftListing
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createDraftListing_request"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopListing"
          description: A single ShopListing
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing
  /v3/application/listings/{listing_id}:
    delete:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Open API V3 endpoint to delete a ShopListing. A ShopListing can be deleted only if the state is one of the following:  SOLD_OUT, DRAFT, EXPIRED, INACTIVE, ACTIVE and is_available or ACTIVE and has seller flags:  SUPRESSED (frozen), VACATION, CUSTOM_SHOPS (pattern), SELL_ON_FACEBOOK
      operationId: deleteListing
      parameters:
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a request conflict with the current state of the
            target resource. See the error message for details.
        "204":
          description: The Listing resource was correctly deleted
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_d
      tags:
      - ShopListing
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a listing record by listing ID.
      operationId: getListing
      parameters:
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "An enumerated string that attaches a valid association. Acceptable\
          \ inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations', 'Videos',\
          \ 'Inventory' and 'Personalization'."
        explode: true
        in: query
        name: includes
        required: false
        schema:
          description: "An enumerated string that attaches a valid association. Acceptable\
            \ inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations', 'Videos',\
            \ 'Inventory' and 'Personalization'."
          items:
            $ref: "#/components/schemas/getListingsByShop_includes_parameter_inner"
          type: array
        style: form
      - description: "The IETF language tag for the language of this translation.\
          \ Ex: `de`, `en`, `es`, `fr`, `it`, `ja`, `nl`, `pl`, `pt`."
        explode: true
        in: query
        name: language
        required: false
        schema:
          description: "The IETF language tag for the language of this translation.\
            \ Ex: `de`, `en`, `es`, `fr`, `it`, `ja`, `nl`, `pl`, `pt`."
          type: string
        style: form
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      - description: "This parameter will include in the response a suggested title\
          \ for the listing, if one is available. Since suggestions are only available\
          \ to the listing's owner, client must submit an oauth_access_token scoped\
          \ to the owner of the listing."
        explode: true
        in: query
        name: allow_suggested_title
        required: false
        schema:
          description: "This parameter will include in the response a suggested title\
            \ for the listing, if one is available. Since suggestions are only available\
            \ to the listing's owner, client must submit an oauth_access_token scoped\
            \ to the owner of the listing."
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopListingWithAssociations"
          description: A single Listing.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing
  /v3/application/shops/{shop_id}/listings/{listing_id}/files/{listing_file_id}:
    delete:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Deletes a file from a specific listing. When you delete the final file for a digital listing, the listing converts into a physical listing. The response to a delete request returns a list of the remaining file records associated with the given listing.
      operationId: deleteListingFile
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: The unique numeric ID of a file associated with a digital listing.
        explode: false
        in: path
        name: listing_file_id
        required: true
        schema:
          description: The unique numeric ID of a file associated with a digital listing.
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a request conflict with the current state of the
            target resource. See the error message for details.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "204":
          description: The ShopListingFile resource was correctly deleted
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing File
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a single file associated with the given digital listing. Requesting a file from a physical listing returns an empty result.
      operationId: getListingFile
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: The unique numeric ID of a file associated with a digital listing.
        explode: false
        in: path
        name: listing_file_id
        required: true
        schema:
          description: The unique numeric ID of a file associated with a digital listing.
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopListingFile"
          description: The metatdata for a file associated with a digital listing.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_r
      tags:
      - ShopListing File
  /v3/application/shops/{shop_id}/listings/{listing_id}/files:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves all the files associated with the given digital listing. Requesting files from a physical listing returns an empty result.
      operationId: getAllListingFiles
      parameters:
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopListingFiles"
          description: A list of metadata objects for the file resources associated
            with a listing.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_r
      tags:
      - ShopListing File
    post:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Uploads a new file for a digital listing, or associates an existing file with a specific listing. You must either provide the `listing_file_id` of an existing file, or the name and binary file data for a file to upload. Associating an existing file to a physical listing converts the physical listing into a digital listing, which removes all shipping costs and any product and inventory variations.
      operationId: uploadListingFile
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadListingFile_request"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopListingFile"
          description: The metadata for a file associated with a digital listing.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing File
  /v3/application/listings/active:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        A list of all active listings on Etsy paginated by their creation date. Without sort_order listings will be returned newest-first by default.
      operationId: findAllListingsActive
      parameters:
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          description: The maximum number of results to return.
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of records to skip before selecting the first result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: The number of records to skip before selecting the first result.
          minimum: 0
          type: integer
        style: form
      - description: Search term or phrase that must appear in all results.
        explode: true
        in: query
        name: keywords
        required: false
        schema:
          description: Search term or phrase that must appear in all results.
          type: string
        style: form
      - description: "The value to sort a search result of listings on. NOTES: a)\
          \ `sort_on` only works when combined with one of the search options (keywords,\
          \ region, etc.). b) when using `score` the returned results will always\
          \ be in _descending_ order, regardless of the `sort_order` parameter."
        explode: true
        in: query
        name: sort_on
        required: false
        schema:
          $ref: "#/components/schemas/getListingsByShop_sort_on_parameter"
        style: form
      - description: "The ascending(up) or descending(down) order to sort listings\
          \ by. NOTE: sort_order only works when combined with one of the search options\
          \ (keywords, region, etc.)."
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          $ref: "#/components/schemas/getListingsByShop_sort_order_parameter"
        style: form
      - description: The minimum price of listings to be returned by a search result.
        explode: true
        in: query
        name: min_price
        required: false
        schema:
          description: The minimum price of listings to be returned by a search result.
          format: float
          type: number
        style: form
      - description: The maximum price of listings to be returned by a search result.
        explode: true
        in: query
        name: max_price
        required: false
        schema:
          description: The maximum price of listings to be returned by a search result.
          format: float
          type: number
        style: form
      - description: "The numerical taxonomy ID of the listing. See [SellerTaxonomy](/documentation/reference#tag/SellerTaxonomy)\
          \ and [BuyerTaxonomy](/documentation/reference#tag/BuyerTaxonomy) for more\
          \ information."
        explode: true
        in: query
        name: taxonomy_id
        required: false
        schema:
          description: "The numerical taxonomy ID of the listing. See [SellerTaxonomy](/documentation/reference#tag/SellerTaxonomy)\
            \ and [BuyerTaxonomy](/documentation/reference#tag/BuyerTaxonomy) for\
            \ more information."
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: "Filters by shop location. If location cannot be parsed, Etsy\
          \ responds with an error."
        explode: true
        in: query
        name: shop_location
        required: false
        schema:
          description: "Filters by shop location. If location cannot be parsed, Etsy\
            \ responds with an error."
          type: string
        style: form
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopListings"
          description: A list of all active listings on Etsy paginated by their creation
            date. Without sort_order listings will be returned newest-first by default.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing
  /v3/application/shops/{shop_id}/listings/active:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a list of all active listings on Etsy in a specific shop, paginated by listing creation date.
      operationId: findAllActiveListingsByShop
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          description: The maximum number of results to return.
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "The value to sort a search result of listings on. NOTES: a)\
          \ `sort_on` only works when combined with one of the search options (keywords,\
          \ region, etc.). b) when using `score` the returned results will always\
          \ be in _descending_ order, regardless of the `sort_order` parameter."
        explode: true
        in: query
        name: sort_on
        required: false
        schema:
          $ref: "#/components/schemas/getListingsByShop_sort_on_parameter"
        style: form
      - description: "The ascending(up) or descending(down) order to sort listings\
          \ by. NOTE: sort_order only works when combined with one of the search options\
          \ (keywords, region, etc.)."
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          $ref: "#/components/schemas/getListingsByShop_sort_order_parameter"
        style: form
      - description: The number of records to skip before selecting the first result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: The number of records to skip before selecting the first result.
          minimum: 0
          type: integer
        style: form
      - description: Search term or phrase that must appear in all results.
        explode: true
        in: query
        name: keywords
        required: false
        schema:
          description: Search term or phrase that must appear in all results.
          type: string
        style: form
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopListings"
          description: "Retrieves a list of all active listings on Etsy in a specific\
            \ shop, paginated by listing creation date."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing
  /v3/application/shops/{shop_id}/listings/{listing_id}/images/{listing_image_id}:
    delete:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Open API V3 endpoint to delete a listing image. A copy of the file remains on our servers, and so a deleted image may be re-associated with the listing without re-uploading the original image; see uploadListingImage.
      operationId: deleteListingImage
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)\
          \ for this transaction."
        explode: false
        in: path
        name: listing_image_id
        required: true
        schema:
          description: "The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)\
            \ for this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "204":
          description: The ListingImage resource was correctly deleted
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing Image
  /v3/application/listings/{listing_id}/images/{listing_image_id}:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves the references and metadata for a listing image with a specific image ID.
      operationId: getListingImage
      parameters:
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)\
          \ for this transaction."
        explode: false
        in: path
        name: listing_image_id
        required: true
        schema:
          description: "The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)\
            \ for this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingImage"
          description: A single ListingImage
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing Image
  /v3/application/listings/{listing_id}/images:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves all listing image resources for a listing with a specific listing ID.
      operationId: getListingImages
      parameters:
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingImages"
          description: An array of ListingImage
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing Image
  /v3/application/shops/{shop_id}/listings/{listing_id}/images:
    post:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Uploads or assigns an image to a listing identified by a shop ID with a listing ID. To upload a new image, set the image file as the value for the `image` parameter. You can assign a previously deleted image to a listing using the deleted image's image ID in the `listing_image_id` parameter. When a request contains both `image` and `listing_image_id` parameter values, the endpoint uploads the image in the `image` parameter only. Note: When uploading a new image, data such as colors and size may return as null values due to asynchronous processing of the image. Use getListingImage endpoint to fetch these values.
      operationId: uploadListingImage
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadListingImage_request"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingImage"
          description: A single ListingImage
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a request conflict with the current state of the
            target resource. See the error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing Image
  /v3/application/listings/{listing_id}/inventory:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves the inventory record for a listing. Listings you did not edit using the Etsy.com inventory tools have no inventory records. This endpoint returns SKU data if you are the owner of the inventory records being fetched.
      operationId: getListingInventory
      parameters:
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: A boolean value for inventory whether to include deleted products
          and their offerings. Default value is false.
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          description: A boolean value for inventory whether to include deleted products
            and their offerings. Default value is false.
          type: boolean
        style: form
      - description: An enumerated string that attaches a valid association. Default
          value is null.
        explode: true
        in: query
        name: includes
        required: false
        schema:
          $ref: "#/components/schemas/getListingInventory_includes_parameter"
        style: form
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingInventoryWithAssociations"
          description: A single listing inventory record.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem processing your request. See the error
            message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_r
      tags:
      - ShopListing Inventory
    put:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Updates the inventory for a listing identified by a listing ID. The update fails if the supplied values for product sku, offering quantity, and/or price are incompatible with values in `*_on_property_*` fields. When setting a price, assign a float equal to amount divided by divisor as specified in the Money resource.
      operationId: updateListingInventory
      parameters:
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateListingInventory_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingInventory"
          description: A single listing's inventory record.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing Inventory
  /v3/application/listings/{listing_id}/inventory/products/{product_id}:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Open API V3 endpoint to retrieve a ListingProduct by ID.
      operationId: getListingProduct
      parameters:
      - description: The listing to return a ListingProduct for.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The listing to return a ListingProduct for.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID for a specific [product](/documentation/reference#tag/ShopListing-Product)\
          \ purchased from a listing."
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          description: "The numeric ID for a specific [product](/documentation/reference#tag/ShopListing-Product)\
            \ purchased from a listing."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingInventoryProduct"
          description: A single ListingInventoryProduct
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_r
      tags:
      - ShopListing Product
  /v3/application/listings/{listing_id}/products/{product_id}/offerings/{product_offering_id}:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Get an Offering for a Listing
      operationId: getListingOffering
      parameters:
      - description: ""
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: ""
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: ""
        explode: false
        in: path
        name: product_offering_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingInventoryProductOffering"
          description: A single ListingInventoryProductOffering
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing Offering
  /v3/application/listings/batch:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Allows to query multiple listing ids at once. Limit 100 ids maximum per query.
      operationId: getListingsByListingIds
      parameters:
      - description: The list of numeric IDS for the listings in a specific Etsy shop.
        explode: true
        in: query
        name: listing_ids
        required: true
        schema:
          description: The list of numeric IDS for the listings in a specific Etsy
            shop.
          items:
            format: int64
            minimum: 1
            type: integer
          type: array
        style: form
      - description: "An enumerated string that attaches a valid association. Acceptable\
          \ inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations', 'Videos',\
          \ 'Inventory' and 'Personalization'."
        explode: true
        in: query
        name: includes
        required: false
        schema:
          description: "An enumerated string that attaches a valid association. Acceptable\
            \ inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations', 'Videos',\
            \ 'Inventory' and 'Personalization'."
          items:
            $ref: "#/components/schemas/getListingsByShop_includes_parameter_inner"
          type: array
        style: form
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopListingsWithAssociations"
          description: A list of Listings
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing
  /v3/application/shops/{shop_id}/listings/featured:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves Listings associated to a Shop that are featured.
      operationId: getFeaturedListingsByShop
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          description: The maximum number of results to return.
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of records to skip before selecting the first result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: The number of records to skip before selecting the first result.
          minimum: 0
          type: integer
        style: form
      - description: This parameter needed to enable new parameters and response values
          related to processing profiles.
        explode: true
        in: query
        name: legacy
        required: false
        schema:
          description: This parameter needed to enable new parameters and response
            values related to processing profiles.
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopListings"
          description: A list of Listings
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing
  /v3/application/shops/{shop_id}/listings/{listing_id}/personalization:
    delete:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Deletes personalization for a listing.
      operationId: deleteListingPersonalization
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: The ListingPersonalization resource was correctly deleted
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing Personalization
    post:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Creates or updates personalization settings for a listing, allowing the seller to collect personalization from the buyer. This endpoint will fully replace any existing personalization on the listing.
      operationId: updateListingPersonalization
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "This query parameter indicates that the caller supports up to\
          \ 5 personalization questions and the following question types: 'text_input',\
          \ 'dropdown', 'unlabeled_upload', 'labeled_upload'. Sending this param without\
          \ updating your application can lead to inadvertantly deleting seller-entered\
          \ data."
        explode: true
        in: query
        name: supports_multiple_personalization_questions
        required: false
        schema:
          description: "This query parameter indicates that the caller supports up\
            \ to 5 personalization questions and the following question types: 'text_input',\
            \ 'dropdown', 'unlabeled_upload', 'labeled_upload'. Sending this param\
            \ without updating your application can lead to inadvertantly deleting\
            \ seller-entered data."
          nullable: true
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateListingPersonalization_request"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Etsy_Modules_ListingPersonalization_Api_Resources_OpenApi_ListingPersonalization"
          description: A single Listing Personalization record
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a request conflict with the current state of the
            target resource. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing Personalization
  /v3/application/listings/{listing_id}/personalization:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a listing's personalization questions by listing ID.
      operationId: getListingPersonalization
      parameters:
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Etsy_Modules_ListingPersonalization_Api_Resources_OpenApi_ListingPersonalization"
          description: A listing personalization questions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing Personalization
  /v3/application/shops/{shop_id}/listings/{listing_id}/properties/{property_id}:
    delete:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Deletes a property for a Listing.
      operationId: deleteListingProperty
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The unique ID of an Etsy [listing property](/documentation/reference#operation/getListingProperties)."
        explode: false
        in: path
        name: property_id
        required: true
        schema:
          description: "The unique ID of an Etsy [listing property](/documentation/reference#operation/getListingProperties)."
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: The ListingProperty resource was correctly deleted
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing
    put:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationPrimary wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Updates or populates the properties list defining product offerings for a listing. Each offering requires both a `value` and a `value_id` that are valid for a `scale_id` assigned to the listing or that you assign to the listing with this request.
      operationId: updateListingProperty
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
            \ associated to this transaction."
          format: int64
          minimum: 1
          type: integer
        style: simple
      - description: "The unique ID of an Etsy [listing property](/documentation/reference#operation/getListingProperties)."
        explode: false
        in: path
        name: property_id
        required: true
        schema:
          description: "The unique ID of an Etsy [listing property](/documentation/reference#operation/getListingProperties)."
          format: int64
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateListingProperty_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingPropertyValue"
          description: A single listing property.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorSchema"
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing
  /v3/application/listings/{listing_id}/properties/{property_id}:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notificationTertiary wt-mr-xs-2"> Feedback only </span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Give feedback</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">Development for this endpoint is in progress. It will only return a 501 response.</p></div>

        Retrieves a listing's property
      operationId: getListingProperty
      parameters:
      - description: "The numeric ID for the [listing](/documentation/reference#tag/ShopListing)\
          \ associated to this transaction."
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
[...]
